BODY {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    overflow: visible
}
/* Grid of 100x100 cells for basis of the website. If an element exceeds a cell size it will just visibly clip out of it, so for now no 'span's required to size them */
.hide {
    display: none !important;
}

#home_page {
    grid-column: 1 / span 30;
    grid-row: 1 / span 10;
}

#what_we_do {
    grid-column: 1/ span 5;
    grid-row: 4 / span 2;
}

#who_we_are {
    grid-column: 6/ span 5;
    grid-row: 4 / span 2;
}

#upcoming_events {
    grid-column: 11/ span 5;
    grid-row: 4 / span 2;
}

#past_events {
    grid-column: 16/ span 5;
    grid-row: 4 / span 2;
}

#edit_home_page {
    grid-column: 21 / span 5;
    grid-row: 4 / span 2;
}